html
  //- icon-url="https://maps.google.com/mapfiles/ms/icons/green-dot.png")
  body
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel="stylesheet" href="styles.css")
    //- script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src='jspm_packages/system.js')
    script(src='config.js')
    style.
      #map { height: 500px; }
    script.
      System.import('dte.mapper')
    #map
    div.here(ng-app="dte-example" ng-controller="dte-mapper")
      eim-map()
        eim-state(key="green" val="green" icon-url="https://maps.google.com/mapfiles/ms/icons/green-dot.png")
          img(src="https://maps.google.com/mapfiles/ms/icons/green-dot.png")
        eim-popup
          |Hello World! {{marker.latlng.lat}}
        eim-control(position="")


      //-     .info-window
      //-       .map-iw-title
      //-         .title
      //-           |${title}
      //-         .button-text
      //-           |Go To Profile Page
      //-       table